.header {
    display: flex;
    background-color: rgb(154, 87, 216);
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: azure;
}

body {
    background-image: url("/img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: fit-content;
    
  }
  

#gameboard {
    display: flex;
    justify-content: center;
    padding-top: 12%;
}


.board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    border: 3px solid azure;
    border-radius: 10px;
}

.row {
    display: flex;
}

.cell {
    width: 90px;
    height: 90px;
    border: 1px solid azure;
    cursor: pointer;
    font-size: 4em;
    color: aliceblue;
}

.cell:nth-child(2n) {
    border-left: none;
    border-right: none;
}

.row:nth-child(2n) .cell {
    border-top: none;
    border-bottom: none;
}

.caption{
    display: flex;
    padding-top: 55px;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: azure;
}

.AllBtn{
    display: flex;
    justify-content: center;
}

