.header {
    display: flex;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: azure;
    background-image:url('./images/confetti.png');
    font-size: larger;
}

body {
    background-image: url('./images/img.jpg');
    background-size: cover;
    /* background-repeat: no-repeat; */
    max-width: 100%;
    height: auto;
    background-color: blueviolet;
  }
  

#gameboard {
    display: flex;
    justify-content: center;
    padding-top: 10%;
}


.board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 350px;
    border: 3px solid azure;
    border-radius: 10px;
}

.row {
    display: flex;
}

.cell {
    width: 110px;
    height: 110px;
    border: 1px solid azure;
    cursor: pointer;
    font-size: 4em;
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cell:hover{
    background-color: darkviolet;
}

.cell:nth-child(2n) {
    border-left: none;
    border-right: none;
}

.row:nth-child(2n) .cell {
    border-top: none;
    border-bottom: none;
}

.caption{
    display: flex;
    padding-top: 55px;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: azure;
}

.AllBtn{
    display: flex;
    justify-content: center;
}

.modal{
    display: none;
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 500px;
    height: 400px;
    border: 2px solid black;
    background-color: aliceblue;
    border-radius: 8px;
}

.modalHeader{
    display: flex;
    font-size: larger;
    padding: 5px;
    padding-top: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 4px;
    align-items: center;
    justify-content: center;
    color: blueviolet;
}

.modalBody{
    display: flex;
    font-size: larger;
    padding: 5px;
    padding-top: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 4px;
    align-items: center;
    justify-content: center;
    color: blueviolet;
}

#btn{
    position: fixed;
    top: 80%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 70px;
    height: 40px;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: blueviolet;
    color: aliceblue;
    cursor: pointer;
}

#btn:hover{
    color: blueviolet;
    background-color: aliceblue;
}

#winnerInfo{
    padding-left: 175px;
    padding-top: 50px;
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:purple ;
}

.modalTwo{
    display: block;
    position: fixed;
    top: 53%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 500px;
    height: 450px;
    border: 2px solid black;
    background-color: aliceblue;
    border-radius: 8px;
}

.modalTwoHeader{
    display: flex;
    font-size: 40px;
    padding: 5px;
    padding-top: 85px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 4px;
    align-items: center;
    justify-content: center;
    color: cornflowerblue
}

.modalTwoBody{
    display: flex;
    font-size: larger;
    padding: 5px;
    padding-top: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 4px;
    align-items: center;
    justify-content: center;
    color: indianred;
}

#StartBtn{
    position: fixed;
    top: 80%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 90px;
    height: 60px;
    border-radius: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: blueviolet;
    color: aliceblue;
    cursor: pointer;
    font-size: larger;
}

#StartBtn:hover{
    color: blueviolet;
    background-color: aliceblue;
}
